@use 'variables';
@use "sass:color";

@mixin button($bg: #37295C, $text-color: #FFFFFF) {
    border: none;
    background-color: $bg;
    color: $text-color;
    border-radius: 3em;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.8em 5em;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.34);
    transition: all 400ms;
    font-family: variables.$primary-font;
    &:hover {
        cursor: pointer;
		transform: scale(105%);
        background: color.scale($bg, $lightness: 30%);
    }
}