@use 'variables';
@use "sass:color";

@mixin button($bg: #37295C, $text-color: #FFFFFF) {
    border: none;
    background-color: $bg;
    color: $text-color;
    border-radius: 3em;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.8em 5em;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.34);
    transition: all 400ms;
    font-family: variables.$primary-font;
    &:hover {
        cursor: pointer;
		transform: scale(105%);
        background: color.scale($bg, $lightness: 30%);
    }
}

@mixin nav-btn(){    
	background: none;
    color: white;
	font-size: 14px;	
	border: none;
	transition: .1s all;
	cursor: pointer;
	&:hover {
		transform: scale(110%);
	}
}

@mixin search-btn(){
    border: none;
    width: 5rem;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(231, 205, 117);
    &:hover {
        cursor: pointer;
		
        background-color: rgb(211, 186, 105);
        
    }

}