@use 'variables';
@use "sass:color";

@mixin button($bg: #37295C, $text-color: #FFFFFF) {
    border: none;
    background-color: $bg;
    color: $text-color;
    border-radius: 3em;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.8em 5em;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.34);
    transition: all 400ms;
    font-family: variables.$primary-font;
    &:hover {
        cursor: pointer;
		transform: scale(105%);
        background: color.scale($bg, $lightness: 30%);
    }
}

@mixin nav-btn(){    
    font-family: variables.$primary-font;
    font-weight: 100;
	background: none;
    color: white;
	font-size: 1.4em;	
	border: none;
	transition: .1s all;
	cursor: pointer;
	&:hover {
		transform: scale(110%);
	}
}

@mixin search-btn(){
    border: none;
    width: 5rem;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(231, 205, 117);
    font-family: variables.$primary-font;
    &:hover {
        cursor: pointer;
		
        background-color: rgb(211, 186, 105);
        
    }

}

%btn-close {
    position: relative;
    margin: 1em;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: #FFFFFF;
    div {
        position: absolute;
        top: 0.2em;
        left: 0.7em;
        width: 3px;
        height: 20px;
        background-color: black;
        transition: all 400ms;
        cursor: pointer;
    }
    div:first-child {
        transform: rotateZ(45deg);
    }

    div:nth-child(2) {
        transform: rotateZ(-45deg);
    }

    &:hover div{
        width: 4px;
    }  
}