@use 'variables';
.footer-container{
    
    bottom: 0;
    width: 100vw;
    height: 8rem;
    background-color: rgb(0, 0, 0);
    color: white;
    @include variables.flexContainer();
    justify-content: center;
    align-items: center ;
    text-align: center;
   
   
}

.footer{
    gap: 3rem;
}