@use 'variables';
@use 'buttons';

.hero {   
    @include variables.flexContainer();
    @extend %app-size; 
    min-width: 70vw;   
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5em;  
    margin-bottom: 1.5em;  
    background-color: variables.$secondary-bg;
    border-radius: 65% 35% 70% 30% / 87% 86% 14% 13%;

    .hero-fig{
        @include variables.flexContainer();        
        @extend %bg-image;
        width: 100%;
        height: 25rem;
        border-radius: 28% 72% 35% 65% / 17% 28% 72% 83% ;
        
        .hero-article{            
            @include variables.flexContainer();
            justify-content: space-between;
            margin: 3em;
            width: 100%;
            height: 100%;

            p {
                align-self: center;
                justify-self: center;
                max-width: 30em;
                padding: 1em;
                background-color: variables.$hero-text-color;
                border-radius: 2em;
            }
        }        
    }
}

#divider {
    background-color: rgb(82, 82, 82);
    width: 80vw;
    height: 2px;
    margin: 4em auto;
}


@media screen and (max-width: 786px) {
    .hero {
        text-align: center;
        .hero-fig {
            align-items: center;
            justify-content: flex-end;
            .hero-article {
                height: 100%;
                margin: 0;
            h1 {
                margin-top: auto;
                background-color: variables.$hero-text-color;
                padding: 0.4em;
                border: 2px solid black;
                border-top: 5px solid black;
                border-bottom-left-radius: 2em;
                border-bottom-right-radius: 2em;
            }
            p {
                display: none;
            }
        }
        }
    }
}
