@use 'variables';
@use 'buttons';
@use "sass:color";

.nav-container{
    @include variables.flexContainer(row);
    justify-content: center;
    max-height: 5em;
    background-color: black;
    margin-bottom: 1.5em;
    width: 100vw;
}

.nav-logo {
    transition: .1s all;
    min-height: 5em; 
    min-width: 5em;    
    @extend %bg-image; 
}
.nav{    
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
     
    
      
}
// .nav-left{
//     min-height: 5em; 
//     min-width: 5em;  
// }
.nav-right{
    display: flex;
    width: 100vw; 
    gap: 1rem;        
}

.nav-fill{
    display: flex;    
    flex: 2;     
}

.nav-btn{   
    
    justify-content: center;
    align-items: center;
    @include variables.flexContainer(row);
    @include buttons.nav-btn();
}
.search-form{    
    @include variables.flexContainer();
    width: 25rem;
    height: 2.5rem;
    border-radius: 40px;
    border: solid 1px cadetblue;
    padding-left: 1rem;
    font-size: 1rem;
    transition: 1s all;
}
.mobile-container{

    
   display: none;
}
.mobile-menu-btn{
    
    @include variables.flexContainer();
    justify-content: center;
    align-items: center;
    transition: .1s all;
     
    background-color: black;   
    gap: 5px;
    border: none;
    cursor: pointer;

}

.menu-fig{
    width: 2rem;
    height: 2px;
    background-color: white;
    border-radius: 16px;
}

@media only screen and (max-width: 786px) {
    .search-form{
        width: 9rem;        
    }      
  }

@media only screen and (max-width: 786px) {
    .mobile-container{
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
     }
     
     .nav-container{
        width: 100vw;
        position: fixed;
        z-index: 1000;
     }
    .nav{   
       
        width: 100vw;
        justify-content: space-between;
        height: 3rem;
           
        
    }
   .nav-fill{
    display: none;
   }
    .nav-logo{
        transform: scale(50%);           
            
    }
    .nav-right{   
        background-color: rgb(22, 22, 22);   
        flex-direction: column;  
        position: absolute;        
        top: 3rem;
        left: 0;
        padding: 2rem;
        z-index: 1000;
        
    }    
   
  }