@use 'variables';
@use 'buttons';
@use "sass:color";

.nav-container{
    // @include variables.flexContainer(row);
    max-height: 5em;
    background-color: black;
    margin-bottom: 1.5em;
}

.nav-logo {
    transition: .1s all;
    min-height: 5em; 
    min-width: 5em;    
    @extend %bg-image; 
}
.nav{    
    display: flex;
    align-items: center;
    @extend %app-size; 
    
    
    // min-width: 70vw;     
}

.nav-right{
    display: flex;
    width: 100rem; 
    gap: 1rem;        
}

.nav-fill{
    display: flex;
    height: 5rem;
    flex: 2;     
}

.nav-btn{   
    
    justify-content: center;
    align-items: center;
    @include variables.flexContainer(row);
    @include buttons.nav-btn();
}
.search-form{    
    @include variables.flexContainer();
    width: 25rem;
    height: 2.5rem;
    border-radius: 40px;
    border: solid 1px cadetblue;
    padding-left: 1rem;
    font-size: 1rem;
    transition: 1s all;
}
.mobile-container{
   display: none;
}
.mobile-menu-btn{
    margin-right: 2rem;
    @include variables.flexContainer();
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: black;   
    gap: 5px;
    border: none;
    cursor: pointer;

}

.menu-fig{
    width: 2rem;
    height: 2px;
    background-color: white;
    border-radius: 16px;
}

@media only screen and (max-width: 786px) {
    .search-form{
        width: 9rem;        
    }      
  }

@media only screen and (max-width: 786px) {
    .mobile-container{
        display: block;
     }
    .nav{        
        min-width: 100vw;  
        height: 3rem;  
        justify-content: space-between;    
    }
   .nav-fill{
    display: none;
   }
    .nav-left{
        transform: scale(50%);           
        margin-left: 1em;     
    }
    .nav-right{   
        background-color: rgb(22, 22, 22);   
        flex-direction: column;  
        position: absolute;
        width: 100%;
        top: 3rem;
        padding: 2rem;
        
    }    
   
  }