@use 'variables';
@use 'buttons';

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    padding: 3em 0;
    z-index: 100;

    .animal-container {
        width: 35vw;
        background-color: variables.$secondary-bg;
        @include variables.flexContainer();
        border-radius: 1em;
        box-shadow: variables.$box-shadow;
        max-height: 80%;

        figure {
            justify-content: space-between;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            min-height: 20vh;
            
            .btn-close {
                @extend %btn-close;
                margin-bottom: auto;
            }
        }

        .animal-info {
            @include variables.flexContainer();  
            gap: 0.8em;
            padding: 1em;
            span {
                font-weight: 400;
                font-size: 0.6em;
            }
            div {
                @include variables.flexContainer(row);    
                .sub-headline {
                    font-weight: 700;
                    min-width: 40%;
                }
            }
            .btn-booked {
                @include buttons.button(variables.$adopted-color, variables.$primary-bg);
                
                &:hover {
                    cursor: auto;
                    transform: none;
                    background: variables.$adopted-color;
                }
            }
        }
    }    
    .form-container {
        width: 35vw;
        background-color: variables.$secondary-bg;
        padding: 2em;
        box-shadow: variables.$box-shadow;
        max-height: 80%;
        overflow-y: scroll;
        
        .form-header {
            @include variables.flexContainer(row); 
            justify-content: space-between;
            .btn-close {
                @extend %btn-close;
            }
        }
        form {
            @include variables.flexContainer(); 
            gap: 1em;
        }
        .input-container {
            @include variables.flexContainer();  
        }
    } 
    button {
        @include buttons.button(variables.$continue-color, variables.$secondary-bg);
        margin: 1em 0;
        align-self: center;  
    }
}

@media screen and (max-height: 820px) {
    .animals {
        .overlay {            
            z-index: 100;
            .animal-container {
                max-height: 100%;
                overflow-y: scroll;
            }
        }
    }   
}

@media screen and (max-width: 786px) {        
    .animals {
        max-width: 90%;
        justify-content: center;
        .overlay {
            .animal-container {
                width: variables.$mobile-card-width;
            }
            .form-container {
                width: variables.$mobile-card-width;
            }
        }
    }   
}

@media screen and (max-width: 330px) {        
    .animals {
        .animal-container {
            max-height: 100%;
        }
    }   
}