$primary-bg: #f3f3f3;
$secondary-bg: #F0F8FF;
$fontColor: #000000;
$primary-font: 'Roboto', sans-serif;
$header-font: 'Jost', sans-serif;

%app-size {
    max-width: 70vw;
    margin: 0 auto;
}

@mixin flexContainer($dir: column) {
    display: flex;
    flex-direction: $dir;
}

@mixin textContainer() {
    height: 100%;
    background-color: $secondary-bg;
    padding: 5rem;
    font-family: $primary-font;
    font-size: 1em;
    line-height: 1.5em;
}

