$primary-bg: #f3f3f3;
$secondary-bg: #F0F8FF;
$fontColor: #000000;
$primary-font: 'Roboto', sans-serif;
$header-font: 'Jost', sans-serif;
$box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.34);

%app-size {
    max-width: 70vw;
    margin: 0 auto;
}

%bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flexContainer($dir: column) {
    display: flex;
    flex-direction: $dir;
}

@mixin textContainer() {
    background-color: $secondary-bg;
    padding: 3rem;
    font-family: $primary-font;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: 1em;
    position: relative;
        figure {
            position: absolute;
            bottom: -3rem;
            right: -3rem;
            width: 10rem;
            height: 10rem;
            margin: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
}



