@use 'variables';

.about {
    @include variables.aboutPageLayout();
        .quote {
            font-style: italic;
        }

    
    
}

@media only screen and (max-width: 786px) {
    .about {
        max-width: 90%;
        section {
            padding-bottom: 4em;
        }
    }
 }