@use 'variables';

.about {
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    @include variables.flexContainer();
    align-items: center;
    justify-content: center;

    
    h1 {
        font-size: 2.5em;
        margin-top: 6rem;
    }
    
    section {
        @include variables.textContainer;

        position: relative;
        figure {
            @extend %bg-image;
            transition: .5s all;
        }

    }
}

@media only screen and (max-width: 786px) {
    section figure{
        // transform: scale(40%);

    }

   
    }