@use 'variables';

.about {
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    @include variables.flexContainer();
    align-items: center;

    
    h1 {
        font-size: 2.5em;
        margin: 1rem;
    }
    
    section {
        @include variables.textContainer;
    
    figure {
        position: absolute;
        width: 5rem;
        height: 5rem;
        margin: 0;
    }
    }
}