@use 'variables';
@use 'buttons';

.animals {
    @include variables.flexContainer(row);
    flex-wrap: wrap;
    row-gap: 1.5em;
    column-gap: 2em;
    @extend %app-size;

    .card {
        flex: 1 1 auto;
        min-width: 280px;
        max-width: 360px;
        @include variables.flexContainer();
        justify-content: space-evenly;
        gap: 1em;
        padding: 1.5em;
        background-color: variables.$secondary-bg;
        box-shadow: variables.$box-shadow;
        border-bottom-right-radius: 1em;
        
        
        figure {
            width: 100%;
            height: 250px;
            @extend %bg-image;
            @include variables.flexContainer();
            justify-content: flex-end;
            align-items: flex-end;
            p {
                padding: 1em;
                border-top-left-radius: 1em;
                background-color: variables.$secondary-bg;
            }
        }

        h2 {
            font-size: 2em;
        }

        .text-container {
            @include variables.flexContainer();
            gap: 2em;

            .info-container {
                @include variables.flexContainer(row);
                justify-content: space-between;
                align-items: center;
                
                .dot {
                    width: 0.4em;
                    height: 0.4em;
                    border-radius: 50%;
                    background-color: variables.$font-color;
                }
            }
        }       
        
        .card-headline {
            @include variables.flexContainer(row);
            align-items: center;
            justify-content: space-between;
            .booked {
                background-color: variables.$adopted-color;
                padding: 0.5em 1.3em;
                border-radius: 2em;
                color: variables.$primary-bg;
            }
        }        
                
        .btn-card {
            @include buttons.button();
            align-self: center;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .animals {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 850px) {
    .animals {
        justify-content: center;
    }
}

@media only screen and (max-width: 786px) {
    .animals {
        max-width: variables.$mobile-card-width;
    }
}