@use 'variables';
@use 'buttons';

.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5em;
    column-gap: 2em;
    @extend %app-size;

    .card {
        flex-basis: auto;
        flex-grow: 1;
        flex: 1;
        min-width: 350px;
        max-width: 90vw;
        // max-width: 540px;
        @include variables.flexContainer();
        justify-content: space-evenly;
        gap: 1em;
        padding: 1.5em;
        background-color: #e6e4e4;
        box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.34);
        border-bottom-right-radius: 1em;

        figure {
            width: 100%;
            height: 250px;
            @extend %bg-image;
            @include variables.flexContainer();
            justify-content: flex-end;
            align-items: flex-end;
            p {
                padding: 1em;
                border-top-left-radius: 1em;
                background-color: #e6e4e4;
            }
        }

        h2 {
            font-size: 2em;
        }

        .text-container {
            @include variables.flexContainer();
            gap: 2em;


            .info-container {
                @include variables.flexContainer(row);
                justify-content: space-between;
            }
        }       
        
        .card-headline {
            @include variables.flexContainer(row);
            align-items: center;
            justify-content: space-between;
            .booked {
                background-color: #975252;
                padding: 0.5em 1.3em;
                border-radius: 2em;
                color: variables.$primary-bg;
            }
        }        
                
        .btn-card {
            @include buttons.button();
            align-self: center;
        }
    }
}


.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;

    .animal-container {
        width: 35vw;
        background-color: #e6e4e4;
        @include variables.flexContainer();
        border-radius: 1em;
        box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.34);

        figure {
            justify-content: space-between;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            .btn-close {
                position: relative;
                margin: 1em;
                width: 1.6em;
                height: 1.6em;
                border-radius: 50%;
                background-color: #FFFFFF;
        
                div {
                    position: absolute;
                    top: 0.2em;
                    left: 0.7em;
                    width: 3px;
                    height: 20px;
                    background-color: black;
                    transition: all 400ms;
                    cursor: pointer;
                }

                div:first-child {
                    transform: rotateZ(45deg);
                }

                div:nth-child(2) {
                    transform: rotateZ(-45deg);
                }

                &:hover div{
                    width: 4px;
                }  
            }
        }

        .animal-info {
            @include variables.flexContainer();  
            gap: 1em;
            padding: 1em;

            div {
                @include variables.flexContainer(row);    
                .sub-headline {
                    font-weight: 700;
                    min-width: 30%;
                }
            }

            button {
                @include buttons.button(#5BD77E, #FFFFFF);
                align-self: center;
            }

            .btn-booked {
                @include buttons.button(#975252, variables.$primary-bg);
                &:hover {
                    cursor: auto;
                    transform: none;
                    background: #975252;
                }
            }
        }
    }    

}

// @media screen and (max-width: 786px) {
//     .animals {
//         max-width: 90%;
//         .animal-container {
//             width: 90%;
//         }
//         .form-container {
//             width: 90%;
//             max-height: 90%;
//             overflow: scroll;
//         }
//     }

// }

