@use 'variables';

.confirmed {
    @include variables.aboutPageLayout();
        img {
            max-width: 100%;
        }
        .confirmed-bold {
            font-weight: 500;
        }
}

@media only screen and (max-width: 786px) {
    .confirmed {
        max-width: 90%;
    }
    .about figure, .confirmed figure{
        transform: scale(40%);
    }
 }